@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "react-circular-progressbar/dist/styles.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/mousewheel";
@import "swiper/swiper-bundle.css";

body,
* {
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.no-scroll {
    overflow: hidden !important;
}
